@import '../node_modules/bulma/sass/utilities/_all'
@import '../node_modules/bulma/sass/base/_all'
@import '../node_modules/bulma/sass/elements/_all'
@import '../node_modules/bulma/sass/components/_all'
@import '../node_modules/bulma/sass/grid/_all'
@import '../node_modules/bulma/sass/layout/_all'
@import '01-Variables/colors'
@import '01-Variables/fonts'
@import '01-Variables/transitions'
@import '01-Variables/shadows'
@import '01-Variables/helpers'
@import '02-Components/navbar'
@import '02-Components/header'
@import '02-Components/columns'
@import '02-Components/section'
@import '02-Components/featuredItems'
  
body
  background: $white
  font-family: 'Montserrat', sans-serif
  color: $black
  margin: 0
  padding: 0