.featured-items
  margin: 50px 0
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: 1087px)
    flex-direction: column

  .item
    @media screen and (max-width: 1087px)
      margin: 1em 0
    &.has-content
      h4
        font-size: 24px
        color: $primary
        font-weight: 900
        & > a
          color: $primary
          &:hover
            color: darken($primary, 5%)
    &.is-divider
      width: 120px
      height: 3px
      background: $black