.footer-divider
  margin-bottom: -10px
  width: 101vw
  & > img
    width: 100%
  
footer
  background: $black
  margin-bottom: 0
  min-height: 300px

  .footer-header-row
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: -15px

    .social-icons
      display: flex
      > a
        margin: 0 1em
        &:last-of-type
          margin-right: 0

    .go-to-top,
    .social-btn
      background: $white
      color: $black
      width: 40px
      height: 40px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      +easeTransition(400ms)
      & > a
        color: $black
      &:hover
        transform: translateY(-3px)

  .navbar
    .navbar-brand
      @media screen and (max-width: 1087px)
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: center
      .navbar-item
        padding: 0 2em
        @media screen and (max-width: 1087px)
          padding: 0 1em
          margin: 1em 0
        &:first-child
          padding-left: 1em
    .navbar-menu
      @media screen and (max-width: 1087px)
        display: none

  .footer-sponsors
    color: $white
    display: flex
    align-items: center
    position: relative
    z-index: 100
    @media screen and (max-width: 768px)
      flex-direction: column
    .column
      display: flex
      @media screen and (max-width: 768px)
        display: block
    span
      text-transform: uppercase
      font-weight: 400
      font-size: 1.25em
    a
      color: $white
      font-weight: 900
      font-size: 1.5em
      position: relative
      &.has-tooltip
        &:hover
          &::after
            transform: translateY(0) translateX(-25%);
            opacity: 1
          &::before
            transition-delay: 300ms
            transform: translateY(0) translateX(-50%) rotate(45deg);
            opacity: 1
        &::before
          content: ''
          width: 25px
          height: 25px
          background: $primary
          transform: rotate(45deg) translateX(-50%) translateY(-100%)
          opacity: 0
          left: 25%
          position: absolute
          top: -20px
          +easeTransition(400ms)
        &::after
          content: attr(data-tooltip)
          position: absolute
          top: -60px
          left: .5em
          right: .5em
          padding: .75em 1em
          text-align: center
          background: $primary
          color: $white
          z-index: 10
          +easeTransition(400ms)
          transform: translateY(100%) translateX(-25%)
          opacity: 0
          border-radius: 100px
          font-size: .75em

  .footer-contact-info
    display: flex
    justify-content: space-around
    margin-top: 30px
    margin-bottom: 50px
    font-size: 18px
    color: $white
    font-weight: 900
    @media screen and (max-width: 1087px)
      flex-direction: column
      padding: 0 1em

    .contact-info
      display: flex
      align-items: center
      @media screen and (max-width: 1087px)
        margin: 1em 0

    span.icon
      background: $white
      color: $black
      width: 40px
      height: 40px
      display: flex
      font-size: 22px
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: .5em
      +easeTransition(400ms)

    & > a
      color: $white
      +easeTransition(400ms)
      &:hover
        color: $primary
        span.icon
          color: $white
          background: $primary

  hr
    margin: 0

  .footer-legal-info
    padding: 1.2em 0 1em
    color: $white
    font-size: 12px
    text-align: center
    & > a
      color: $white
      font-weight: bold
      &:hover
        color: darken($white, 10%)